on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

name: "Build & Release"
jobs:
  build:
    name: "Build & Release"
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '3.10.0'
      - run: flutter pub get
#      - run: flutter test
      - run: flutter build apk --target=lib/main.dart --target-platform android-arm,android-arm64,android-x64 --split-per-abi --no-tree-shake-icons
      - name: Configure Firebase
        env:
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
        run: |
          echo "$FIREBASE_SERVICE_ACCOUNT" > google-services.json
      - name: Push to Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/flutter-apk/*"
          tag: v1.0.${{ github.run_number }}
          token: ${{ secrets.TOKEN }}
